.ImageDropzone{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.ControlLabel{
    float: left;
    font-size: 1.2em;
    margin-left: 5px;
    margin-top: 5px;
}

.upload-dropzone{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px
}

.thumbnails{
    text-align: center;
    margin-left: auto;
    margin-right: auto
    
}

.dynamic-button{
    width: 50px;
}

* {
    box-sizing: border-box;
}

.warningText {
    text-align: justify;
    text-justify: inter-word;
}