* {
    box-sizing: border-box;
}

.Panel {
    position: absolute;
    left: 5%;
    right: 5%;
    background-color: #FFFFFF;
    padding: 20px;
}

.PageHeader{
    background-color: #FFFFFF;
    
    left: 5%;
    right: 5%;
}

.PanelHeader {
    text-align: left;
    
}

.DropdownButton{
    width: 100%;
    /* background-color: blue; */
    margin-top: 20px;
    align-content: right;
    text-align: right;
}

.AddButton{
    text-align: right;
}
